* {
  padding: 0;
  margin: 0;
  background-color: #363636;
  font-family: 'Poppins', sans-serif;
}

/* Header Section  */
.header-sec {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.header-con {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.titles {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.titles h1 {
  font-weight: 900;
  text-align: center;
}

.titles p {
  text-align: center;
} 

.search-func {
  display: flex;
  flex-direction: column;
  gap: 5px;
} 

.search-bar {
  width: 100%;
  padding-left: 15px;
  font-size: 1.0em;
  border-radius: 30px;
  color: white;
} 

.search-btn {
  width: 50%;
  border-radius: 30px;

  margin: 0 auto;
  color: white;
} 

/* Past Searches Section  */
.btn-container{
  display: flex;
  flex-direction: column;
}

.past-title {
  text-align: center;
}

.past-search {
  border-radius: 30px;
  width: 50%;
  font-size: 1.0em;
  color: white;
  margin: 0 auto;
}